
.content-iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: auto 0;
    padding-bottom: 20px;
}

.content-iframe img{
    border-radius: 15px;
    border: none;
    height: 100%;
    background-color: #363636;
    border: solid 1px #ccc;
}

@media screen and (max-width:1024px) {
    .content-iframe {
        padding: 5px;
    }
    .content-iframe img{
        max-width: 300px;
        width: 100%;
        height: auto;
    }
}
@media screen and (max-width:500px) {
    .content-iframe{
        margin-bottom: 300px;
    }
}